## ============================================================================
##  Ignore Local Spcific Dirs/Files
## ============================================================================
vendor
report


composer.lock
COVERALLS.env
